@model Mvc4PhoneCatalog.Models.Phone

<div id="modal-mock" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
@using (@Ajax.BeginForm(null,null, new AjaxOptions(){
    UpdateTargetId = "modal-container", Url="", InsertionMode = InsertionMode.Replace, HttpMethod = "POST",
    LoadingElementId = "", OnComplete = "hideDetail"},
    new { id = "edit-form"}
    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Phone</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelName)
            @Html.ValidationMessageFor(model => model.ModelName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelCode)
            @Html.ValidationMessageFor(model => model.ModelCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LaunchYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LaunchYear)
            @Html.ValidationMessageFor(model => model.LaunchYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatingSystem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatingSystem)
            @Html.ValidationMessageFor(model => model.OperatingSystem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="button-save" class="btn btn-primary" onclick="testFunction(); return false;">Save changes</button>
      </div>
 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
